<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NoticeSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="NoticeSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://webxml.zhaoqi.vip/Notice.asmx" binding="basicHttpBinding"
                bindingConfiguration="NoticeSoap" contract="ServiceReference1.NoticeSoap"
                name="NoticeSoap" />
        </client>
    </system.serviceModel>
</configuration>